/.idea/
/vendor/
/storage/debugbar/
/storage/logs/
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/composer.lock
/package-lock.json
/public/explorer/
/public/phpmyadmin/
/node_modules/
/.env
/public/mix-manifest.json
/public/catalog/css/app.css
/public/.htaccess
composer.phar
/routes/redirects.php
/error_log
/public/error_log
/public/*.png
/public/google*.html